body{
    background-color: rgb(236, 236, 236);
    scroll-behavior: smooth;
}
section{
    /* background-color: blue; */
    display: flex;
    position: fixed;
    width: 100%;
    top: -0px;
}
section div p{
    color: rgb(19, 106, 255);
    font-weight: 500;
}

ul li {
    list-style-type: none;
    padding-left: 600px;
}
ul li a{
    text-decoration: none;
    padding-left: 30px;
    color: rgb(19, 106, 255);
    font-weight: bold;
}
.pages1{
  background-color: rgb(255, 255, 255);   
  height: 900px;
  display: flex;
  width: 100%;
  height: 800px;
  margin-top: 40px;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: 100%;   /* border-radius: 20px; */
  /* margin-left: 5%; */
}
/* .pages2{
  background-color: rgb(244, 244, 244);   
  height: 900px;
} */

/* PAGES2*/
#pages2 {
    width: 100%;
    height: 800px;
    justify-content: center;
    border-radius: 2px;
    }
    #pages2 a img{
    width: 30%;
    height: 50%;
    /* margin-top: -5%; */
    margin-left: 2%;
    background-color: #c3c3c3;
    }
    #pages2 a img:hover{
        width: 30%;
        height: 50%;
        /* margin-top: 10%; */
        margin-left: 2%;
        background-color: rgb(255, 255, 255);
    }
    #pages2 p{
   
    font-size: 30px;
    font-family: system-ui;
    margin-left: 40%;
    margin-top: 9%;
    }
    .pages2 a img:hover{
        background-color: rgb(44, 37, 37);
    }
/* PAGES 2 */



.pages3{
    background-color: rgb(255, 255, 255);   
    height: 900px;
    display: flex;
    width: 100%;
    height: 800px;
    margin-top: 40px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: 100%;
    }
.pages3 img{
    width: 40%;
    height: 70%;
    margin-left: 15%;
    margin-top: 5%;
}
.pages4{
  background-color: rgb(255, 255, 255);  
  height: 900px;
  justify-content: center;
}
footer{
    background-color: gray;
    height: 200px;
}


/* SCROLL BUTTON */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: gray; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  #myBtn img{
    width: 30px;
    height: 30px;
  }
  #myBtn:hover {
    background-color: orange; /* Add a red background on hover */
  }
  /* END OF SCROLL BUTTON */



  /* FOOTER */
  footer{
    width: 99%;
    height: 300px;
    background-image: url(images/footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    display: flex;
    /* margin-top: 5%; */
    /* margin-left: 5%; */
}
footer div{
    width: 25%;
    margin-top: 100px;
    background-color: transparent;
    justify-content: center;
    color: white;
    font-weight: 300;
    
}
footer div p,
footer div a{
    background-color: transparent;
    text-decoration: none;
    color: #00527B;
    font-weight: 300;
}
  /* FOOTER */


  /* CONTACT */

.innerdiv_page4{
    width: 40%;
    margin-left: 30%;
    /* margin-top: 200px; */
}
.innerdiv_page4 p{
    color: rgb(44, 37, 37);
    font-size: 30px;
    font-family: system-ui;
    margin-left: 40%;
    /* margin-top: 20%; */
}
.innerdiv_page4 input{
    border-radius: 2px;
    background-color: transparent;
    height: 30px;
}
.innerdiv_page4 input,textarea{
    width: 100%;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
}
.innerdiv_page4 input,textarea::placeholder{
    text-indent: 30%;
}
  /* CONTACT */


  /* HOME */
  .pages1 img{
    width:50%;
    height: 90%;
    background-color: transparent;
    margin-top: -10%;

    }
    .homepage_text{
        margin-top: 20%;
        color: rgb(16, 133, 236);
        font-weight: bold;
        font-size: 20px;
        font-family: system-ui;
        }
        .homepage_text p{
            margin-top: -10%;
        }
  /* END OF HOME */


  /* SERVIVCES */

  /* END OF SERvice */
